<nav>
    <ul>
        <li><a href="/">Strona główna</a></li>
        <li><a href="/przetargi/lista">Lista przetargów</a></li>
        <li><a href="/przetargi/skonczone-przetargi">Lista zakończonych przetargów</a></li>
        <li><a href="/przetargi/dodaj-przetarg">Dodaj przetarg</a></li>
    </ul>
</nav>