<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
    <div class="menu">
        {{> menu}}
    </div>
    <div>
        <h1>Złóż ofertę w przetargu: {{tender.title}}</h1>
        <form action="/przetargi/{{tender.id}}/zloz-oferte" method="POST">
            <label for="bidder_name">Nazwa składającego ofertę:</label>
            <input type="text" name="bidder_name" id="bidder_name" required>

            <label for="bid_value">Wartość oferty:</label>
            <input type="number" step="1" name="bid_value" id="bid_value" required>

            <input type="submit" value="Złóż ofertę">
        </form>
    </div>
</body>
</html>
